{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
    <style>
        .about-us {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font-size: 1.1em;
            line-height: 1.6;
        }
        .about-us h1 {
        font-size: 2.3em;
        margin-bottom: 20px;
        text-align: center;
    }
        .about-us p {
            text-align: justify;
        }
    </style>
    <div class="about-us">
        <h1>О нас</h1>
        <p>Jimmy Choo - британский модный дом, представляющий полную линейку роскошных аксессуаров. Основанный в Лондоне в 1996 году, Jimmy Choo превратился из легендарной обувной марки в коллекцию сумок, мелких кожгалантерейных изделий, шарфов, солнцезащитных очков, оптических очков, поясов, парфюмерии и мужской обуви.</p>
        <p>Генеральный директор Ханна Колман и креативный директор Сандра Чой разделяют видение по развитию одного из самых престижных брендов в мире роскоши. Женственные, вечные, игривые, неповторимые - продукция Jimmy Choo отражает тонкое итальянское мастерство и безупречны по качеству и деталям.</p>
        <p>Jimmy Choo является частью группы Capri Holdings Limited в сфере модной роскоши. Мировой бренд имеет сеть более 150 магазинов по всему миру и представлен в самых престижных универмагах и специализированных магазинах.</p>
    </div>
{% endblock %}